body {
    font-family: 'Trebuchet MS', Arial;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    text-align: center;
    width: 40%;
}

h1 {
    font-size: 42px;
    font-weight: 800;
    color: #252525;
}

h1.secondary {
    font-size: 42px;
    font-weight: 800;
    color: #F86D11;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #252525;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    color: #252525;
}

h3.secondary {
    font-size: 28px;
    font-weight: 600;
    color: #F86D11;
}

h4 {
    font-size: 22px;
    color: #252525;
}

p {
    font-size: 18px;
    font-weight: 500;
    color: #252525;
    line-height: 1.6;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-container img {
    height: 36px;
    width: auto;
}
