.article.svelte-axsif5{display:flex;flex-direction:column;position:relative;padding:1vh;gap:15px;width:60%;margin:9vh auto}@media (max-width: 768px){.article.svelte-axsif5{width:90%;margin-top:10vh}}
