<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="./resources/CSS/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div id="footer">
  <img class="full-logo" src="../resources/images/logos/full logo/full-logo-yellow-orange-light.svg" alt="full logo">
  <img class="logo-icon" src="../resources/images/logos/icons/logo-icon-yellow-orange-light.svg" alt="logo icon">
  <div class="footer-nav">
    <h6 class="secondary-nav-button"><a href="resources.html">Hulp artikelen</a></h6>
    <h6 class="secondary-nav-button"><a href="terms-of-service.html">Algemene voorwaarden</a></h6>
    <h6 class="secondary-nav-button"><a href="privacy-statement.html">Privacy statement</a></h6>
    <h6 class="secondary-nav-button">
      <a href="mailto:moveroofnl@gmail.com?subject=MoveRoof Contact&body=Heyhoi Feike,">
        Contact: moveroofnl@gmail.com
      </a>
    </h6>
  </div>
</div>