<!-- header.html -->
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./resources/CSS/index.css">
  <script src="./resources/js/main.js"></script>
  <div id="popups" defer></div>
  <script src="./resources/js/formHandler.js" defer></script>
</head>

<body>
  <!-- The actual header -->
  <div id="header">
    <div id="header-page-nav">
      <a href="./index.html">
        <img class="full-logo" src="./resources/images/logos/full logo/Full Logo Yellow-Orange-Dark.svg" alt="full logo">
        <img class="logo-icon" src="./resources/images/logos/icons/Logo Icon Yellow-Orange-Dark.svg" alt="logo icon">
      </a>
      <h5 class="nav-button">
        <a href="./aanbod.html">Aanbod</a>
      </h5>
    </div>
    <div id="header-buttons">
      <h5 class="secondary-button" id="request-listing-form-btn">Plaats jou woning</h5>
      <h5 class="secondary-button" id="feedback-form-btn">Geef feedback</h5>
    </div>
  </div>

</body>
</html>