<!-- header.html -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="./resources/CSS/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./resources/js/main.js"></script>
  <script src="./resources/js/formHandler.js" defer></script>
</head>

<body>
  <div id="popups">
    <!-- Popup for requesting a MoveRoof listing -->
    <div id="request-listing-popup" class="hidden">
        <h3 class="secondary">Gratis je woning op MoveRoof</h3>
        <p>
          Je woning op MoveRoof plaatsen is geheel gratis en zonder kleine letters.
        </p>
        <form class="listing-request-form">
          <div class="input-group">
            <input class="input-field" type="text" id="naam" name="naam" required placeholder="Naam">
            <label class="input-name" for="naam">Naam</label>
          </div>

          <div class="input-row">
            <div class="input-group">
              <input class="input-field" type="email" id="email" name="email" required placeholder="E-mailadres">
              <label class="input-name" for="email">E-mail</label>
            </div>
  
            <div class="input-group">
              <input class="input-field" type="tel" id="telefoon" name="telefoon" placeholder="Tel nr - optioneel">
              <label class="input-name" for="telefoon">Tel nr - optioneel</label>
            </div>
          </div>

          <div class="input-group">
            <input class="input-field" type="text" id="adres" name="adres" required placeholder="Adres - Straat, nummer en plaats">
            <label class="input-name" for="email">Adres - Straat, nummer en plaats</label>
          </div>
          <br>
          <p>
            De bovenstaande gegevens gebruik ik alleen om contact op te nemen, ik bewaar niks.
          </p>
          <br>
          <button class="submit-button" id="submit-listing-request" type="submit">
            Contact opnemen
          </button>
        </form>
    </div>

    <div id="thankyou-listing-request-popup" class="hidden">
      <h4 class="secondary">Bedankt voor de aanvraag! Oprecht!</h4>
      <br>
      <p>
        Dat je het vertrouwen in mij en MoveRoof hebt om je woning met ons te delen vind ik onwijs tof.
      </p>
      <br>
      <p>
        Ookal is MoveRoof geheel gratis en zal ik er geen cent aan verdienen vind ik het vertrouwen 
        onwijs veel waard, dankjewel hiervoor!
      </p>
      <br>
      <p>Feike Leemkuil.</p>
    </div>
</div>

    <!-- Popup for giving feedback -->
    <div id="give-feedback-popup" class="hidden">
        <h3 class="secondary">Feedback delen</h3>
        <p>
          Heb je suggesties of feedback op MoveRoof en de website en/of service?
          Deel het hieronder. Waardeer het oprecht!
        </p>
        
        <form class="give-feedback-form" id="feedbackForm">
        <div class="input-row">
          <div class="input-group">
            <input class="input-field" type="text" id="naam" name="naam" required placeholder="Naam">
            <label class="input-name" for="naam">Naam</label>
          </div>
      
          <div class="input-group">
            <input class="input-field" type="email" id="email" name="email" placeholder="E-mailadres">
            <label class="input-name" for="email">E-mail - optioneel</label>
          </div>
        </div>
      
          <div class="input-group">
            <textarea class="text-field" id="bericht" name="bericht" placeholder="Deel hier je bericht..."></textarea>
            <label class="input-name" for="bericht">Je feedback/suggestie</label>
          </div>
      
          <button class="submit-button" id="submit-feedback" type="submit">
            Feedback versturen
          </button>
        </form>
    </div>

    <div id="thankyou-feedback-popup" class="hidden">
      <h4 class="secondary">Bedankt voor de feedback! Oprecht!</h4>
      <br>
      <p>
        Dat je de tijd hebt genomen om je gedachtes en suggesties omtrent MoveRoof te 
        delen waardeer ik oprecht enorm. Dankjewel!
      </p>
      <br>
      <p>
        Als je je contactgegevens hebt gedeeld hoop ik je nog te kunnen spreken 
        en nogmaals te bedanken. Anders bij deze: mijn dankbaarheid is groot!
      </p>
      <br>
      <p>Fijne dag en hopelijk spreken we elkaar nog eens.</p>
      <br>
      <p>Feike Leemkuil.</p>
    </div>

</body>