<!-- header.html -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="./resources/CSS/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div id="popups">
    <!-- Popup for giving feedback -->
    <div id="give-feedback-popup" class="hidden">
      <h3 class="secondary">Feedback delen</h3>
      <div>
        <br>
        <p class="detail">
          Heb je suggesties of feedback op MoveRoof en de website en/of service?
          Deel het hieronder. Waardeer het oprecht!
        </p>
        
        <!-- Remove 'action' and 'method' so it doesn't POST to /index.html -->
        <form class="give-feedback-form" id="feedbackForm">
          <div class="input-group">
            <label class="input-name" for="naam">Naam</label>
            <input class="input-field" type="text" id="naam" name="naam" required placeholder="Vul hier je naam in">
          </div>
      
          <div class="input-group">
            <label class="input-name" for="email">E-mail - optioneel</label>
            <input class="input-field" type="email" id="email" name="email" placeholder="Vul hier je e-mailadres in...">
          </div>
      
          <div class="input-group">
            <label class="input-name" for="bericht">Je feedback/suggestie</label>
            <textarea class="text-field" id="bericht" name="bericht" placeholder="Deel hier je bericht..."></textarea>
          </div>
      
          <button class="secondary-button" id="submit-feedback" type="submit">
            Feedback versturen
          </button>
        </form>
      </div>
    </div>

    <div id="thankyou-feedback-popup" class="hidden">
      <h4 class="secondary">Bedankt voor de feedback! Oprecht!</h4>
      <br>
      <p class="detail">
        Dat je de tijd hebt genomen om je gedachtes en suggesties omtrent MoveRoof te 
        delen waardeer ik oprecht enorm. Dankjewel!
      </p>
      <br>
      <p class="detail">
        Als je je contactgegevens hebt gedeeld hoop ik je nog te kunnen spreken 
        en nogmaals te bedanken. Anders bij deze: mijn dankbaarheid is groot!
      </p>
      <br>
      <p class="detail">Fijne dag en hopelijk spreken we elkaar nog eens.</p>
      <br>
      <p class="detail">Feike Leemkuil.</p>
    </div>

    <!-- Popup for requesting a MoveRoof listing -->
    <!-- If you also want to handle listing form via JavaScript, remove action/method here too -->
    <div id="request-listing-popup" class="hidden">
      <h3 class="secondary">Gratis je woning op MoveRoof</h3>
      <div>
        <br>
        <p class="detail">
          Je woning op MoveRoof plaatsen is geheel gratis en zonder kleine letters.
        </p>
        
        <form class="listing-interest-form">
          <div class="input-group">
            <label class="input-name" for="naam">Naam</label>
            <input class="input-field" type="text" id="naam" name="naam" required placeholder="Vul hier je naam in...">
          </div>
        
          <div class="input-group">
            <label class="input-name" for="email">E-mail</label>
            <input class="input-field" type="email" id="email" name="email" required placeholder="Vul hier je e-mailadres in...">
          </div>

          <div class="input-group">
            <label class="input-name" for="telefoon">Telefoonnummer - optioneel</label>
            <input class="input-field" type="tel" id="telefoon" name="telefoon" placeholder="Vul hier je telefoonnummer in...">
          </div>

          <div class="input-group">
            <label class="input-name" for="email">Adres - Straat, nummer en plaats</label>
            <input class="input-field" type="text" id="adres" name="adres" required placeholder="Vul hier je adres in...">
          </div>
          <br>
          <p class="detail">
            De bovenstaande gegevens gebruik ik alleen om contact op te nemen, ik bewaar niks.
          </p>
          <br>
          <button class="secondary-button" id="submit-listing-request" type="submit">
            Contact opnemen
          </button>
        </form>
      </div>
    </div>

    <div id="thankyou-listing-request-popup" class="hidden">
      <h4 class="secondary">Bedankt voor de aanvraag! Oprecht!</h4>
      <br>
      <p class="detail">
        Dat je het vertrouwen in mij en MoveRoof hebt om je woning met ons te delen vind ik onwijs tof.
      </p>
      <br>
      <p class="detail">
        Ookal is MoveRoof geheel gratis en zal ik er geen cent aan verdienen vind ik het vertrouwen 
        onwijs veel waard, dankjewel hiervoor!
      </p>
      <br>
      <p class="detail">Feike Leemkuil.</p>
    </div>
</div>

</body>